.wali-lower-header {
  list-style: none;
  display: flex;
  gap: 15px;
  padding: 10px;
  background-color: #232F3E;
  color: #ffffff;
  margin: 0;
}

.wali-menu-item {
  padding: 1px;
  cursor: pointer;
}

.wali-menu-item:hover {
  border: 1px solid white;
}

.wali-menu-icon {
  margin-right: 5px;
  vertical-align: middle;
}

/* Responsive */
@media (max-width: 468px) {
  .wali-lower-header {
    flex-wrap: wrap;
    overflow-x: hidden;
    justify-content: flex-start;
  }
}
